[Desktop Entry]
Type=Application
Categories=Utilities
Version=1.0
Name=Caffeine
Comment=Tray app to toggle pause-auto-sleep (keep system awake)
Exec=sh -c 'exec "/home/delphicokami/.local/share/caffeine/run-caffeine.sh"'
Icon=caffeine-on
Terminal=false
Categories=Utility;Application;
StartupNotify=false
X-GNOME-Autostart-enabled=true